<div class="az-footer ht-40">
  <div class="container ht-100p pd-t-0-f">
    <div class="d-sm-flex justify-content-center justify-content-sm-between py-2 w-100">
      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © w-devsolution.com
        2023</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">For more info,please check <a
          href="https://www.w-devsolution.com" target="_blank"> W-devsolution </a></span>
    </div>
  </div><!-- container -->
</div><!-- az-footer -->